client_id: {{ client_id }}
client_secret: {{ client_secret }}

base_urls:
  lms: http://lms.internal:4700

retirement_pipeline:
  - ['RETIRING_ENROLLMENTS', 'ENROLLMENTS_COMPLETE', 'LMS', 'retirement_unenroll']
  - ['RETIRING_LMS', 'LMS_COMPLETE', 'LMS', 'retirement_lms_retire']
